$body-color: rgb(10, 15, 30);
$secondary-dark-color: #13192b;
$light: #fdfdfd;
$text-color: #99f;
$accent-light: rgb(144, 176, 255);

$font-size-default: 16px;
$font-size-normal: 20px;
$font-size-medium: 24px;
$font-size-medium-big: 28px;
$font-size-big: 32px;
$font-size-huge: 42px;